* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

:root {
  --color-primary: #131921;
  --color-3b4149: #3b4149;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* Header */
.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-primary);
}

.header-upper {
  background-color: var(--color-primary);
}

/* End Header */